:root {
  --light-brown: #D0814C;
  --black: #202020;
  --pink: #F2B6AB;
  --dark-pink: #F5A393;
  --green: #21FBF8;
  --brown: #AC4216;
  --light-gray: #F7F7F7;
  
  --font-family: 'Poppins', sans-serif;
}